*{
    margin: 0px;
    padding: 0px;
}
body{
    max-width: 970px;
    width: 970px;
    margin: 0 auto;
}
a {
    color: black;
}

.head{
    background-color: rgb(240, 235, 235);
    height: 80px;
    display: block;
}

.main{
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    background-color: rgb(90, 46, 46);
}

.photo{
    background-image: url("images/photo_of_me.jpg");
    background-size: contain;
    display: inline-block;
    height: 215px;
    width: 45%;
    border: 3px solid #c0c0c0;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 12px
}
.about{
    background-color: rgb(230, 230, 230);
    display: inline-block;
    height: 215px;
    width: 45%;
    border: 3px solid #c0c0c0;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 12px
}
.about p{
    margin: 0 10px 10px 10px;
    min-height: 190px;
}
h2{

    color: black;
    height: 32px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 230px;
  
}
.italic {
    font-style: italic;
}
h3, h4{
    color: ghostwhite;
    background-color: #b3b3b6;
    height: 32px;
    padding: 10px 0 0 16px;
}
.block{
    background-color: rgb(230, 230, 230); 
    display: inline-block;
    height: 650px;
    width: 29%;
    border: 3px solid #c0c0c0;
    vertical-align: top;
    margin-top: 15px;
    margin-left: 12px;
}
.block .tile-header-img{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.block p{
    margin: 0 10px 10px 10px;
    min-height: 190px;
}
.block .icons img{
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 10px 3px 0px 3px;
}

.green-button{
    background-color: rgb(4, 88, 4);
    border: rgb(1, 39, 1);
    margin-left: 90px;
    margin-top: 30px;
    color: white;
    text-align: center;
    font-size: 15px;
    border-radius: 5px;
}

.footer{

    background-color: rgb(240, 235, 235);
    height: 80px;
    text-align: center;
}

.small-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 10px 3px 0px 3px;
    background-size: contain;
    vertical-align: bottom;
}

.github {
    background-image: url("images/github.png");
}

.linkedin {
    background-image: url("images/linkedin.png");
}

.twitter {
    background-image: url("images/twitter.png");
}

.codepen {
    background-image: url("images/codepen.png");
}

